# OS X & xCode files
**/.DS_Store
.Trashes
*.swp
*.lock
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
*.moved-aside


# Build files
**/stamp-h1
**/*.cache
**/*.o
**/*.dirstamp
Makefile
*.deps
*.log
*.status

**/braind
**/brsh
**/thought

